* text=auto eol=lf

*.7z binary
*.eot binary
*.gif binary
*.gz binary
*.ico binary
*.jpeg binary
*.jpg binary
*.otf binary
*.pdf binary
*.png binary
*.ttf binary
*.webm binary
*.webp binary
*.woff binary
*.woff2 binary
*.zip binary
